<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NJDHome.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D4DB9E121720FB57A2DEE590117E98D78743CDFE</string>
				<key>dateExpires</key>
				<string>2018/10/11</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>B36LSC79E6.com.njdhome.www</string>
				<key>com.apple.developer.team-identifier</key>
				<string>B36LSC79E6</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>B36LSC79E6.com.njdhome.www</string>
				</array>
			</dict>
			<key>name</key>
			<string>NJDHome.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d67265d6-e3bb-4cd8-93e9-17da9e315f68</string>
				<key>name</key>
				<string>*wildDevelopAll</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>B36LSC79E6</string>
				<key>name</key>
				<string>tang qixin</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
