<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.njdhome.www</key>
		<string>*wildDevelopAll</string>
	</dict>
	<key>signingCertificate</key>
	<string>D4DB9E121720FB57A2DEE590117E98D78743CDFE</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>B36LSC79E6</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
